@use '../../librerias/global_vars' as var;
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); // Rubik

body{
	font-size: 1.25vw;
	background: var.$alternativeFond;
}

#portada{
	background-size: 100%;
	background-image: url('/IMG/super-antenna.jpg');
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;

	.filter-box{
		position: absolute;
		background-image: linear-gradient(to right, var.$fondo 50%, transparent 50%);
		z-index: 0;
	}

	.contenedor{
		padding: 3vw 0;
		padding-bottom: 7vw;
		background-image: linear-gradient(45deg, transparent 90%, rgba(var.$purple, .5) 10%);
		z-index: 1;

		.description{
			width: 50%;
			padding: 0 3em;

			.title{
				margin-bottom: .25em;
				font-size: 4em;
				line-height: 90%; 
				color: var.$purple;
				word-break: break-all;
			}

			p{
				margin-bottom: .5em;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		.aditional-text{
			width: 60%;
			margin: auto;
			margin-top: 2em;

			img{
				position: absolute;
				right: 50%;
				bottom: auto;
				left: auto;
				width: 40%;
				box-shadow: .25em .25em .5em black;
			}

			.texto{
				width: 60%;
				padding: 1.5em;
				padding-left: 15%;
				padding-bottom: 3em;
				color: white;
				box-shadow: .25em .25em .5em black;
				background: var.$purple;

				b{
					margin-bottom: .25em;
					font-size: 1.5em;
				}
			}
		}
	}
}

#mision-vision{
	display: grid;
	grid-template-columns: repeat(3, 3fr);
	margin: auto;

	.valor{
		padding: 3vw;
		padding-right: 5vw;
		color: white;
		text-shadow: 0 0 .25em black;
		box-shadow: 0 0 .5em black;
		background: linear-gradient(to right, rgba(var.$aqua, .75), rgba(var.$aqua, .25));

		h1{
			margin-bottom: .25em;
			font-size: 2.25em;
		}

		p{
			margin-bottom: .25em;
			text-align: justify;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.vision{
		padding: 3vw;
		padding-left: 5vw;
		background: linear-gradient(to left, rgba(var.$aqua, .75), rgba(var.$aqua, .25));
	}

	.img-separator, .valor .img{
		box-shadow: 0 0 .5em black;
		background-image: url('/IMG/radioenlaces.jpg');
		background-position: right;
		background-size: auto 100%;
		background-repeat: no-repeat;
		transform: scale(1.15);
	}

	.valor:last-child .img{
		background-image: url('/IMG/mision-vision2.png');
		background-position: left;
	}
}

#valores{
	padding: 2em;
	padding-top: 4em;
	color: rgb(50,50,50);
	background-color: var.$fondo;

	.description{
		width: 70%;
		margin: auto;
		margin-bottom: 3em;
		text-align: center;

		h1{
			margin-bottom: .25em;
			font-size: 2.25em;
			color: var.$purple;
		}
	}

	ul{
		display: grid;
		grid-template-columns: repeat(4, 4fr);
		grid-gap: 2em;

		li{
			padding: 1.25em;
			color: var.$texto;
			list-style: none;
			border-radius: .25em;
			border: .1em solid var.$fondo;
			box-shadow: 0 .25em .5em rgb(200,200,200),
			inset 0 .0 .25em rgba(var.$purple, .25);
			background: rgb(var.$purple, .25);

			.title{
				margin-bottom: .5em;
				font-size: 1.5em;
				color: var.$purple;
			}
		}
	}

	/*display: grid;
	grid-template-columns: auto 40%; //480px cuando el ancho de la página esté en 1200px;

	ul{
		padding: 6vw 0;
		box-shadow: inset 0 0 .25vw black;
		background: linear-gradient(to right, var.$purple, lighten(var.$purple, 15));

		li{
			display: grid;
			grid-template-columns: 4em auto;
			grid-auto-columns: dense;
			grid-gap: 1em;
			width: 90%;
			padding: 1em 2em;
			padding-left: .5em;
			padding-right: 2em;
			margin-bottom: 2em;
			float: left;
			list-style: none;
			border-top-right-radius: .25em;
			border-bottom-right-radius: .25em;
			box-shadow: 0 0 .25em black;
			background: linear-gradient(to right, rgb(235,235,235), white);

			.texto, .circle{
				display: flex;
				align-items: flex-start;
				justify-content: center;
			}

			.circle{
				grid-area: 1/1 / 2/2;

				div{
					padding: 50%;
					border-radius: 50%;
					box-shadow: inset 0 0 .5em var.$darkPurple;
					background: var.$purple;
				}
			}

			.texto{
				grid-area: 1/2 / 2/3;

				b{
					margin-bottom: .5em;
					font-size: 1.1em;
					color: var.$purple;
				}
			}

			&:nth-child(even){
				grid-template-columns: auto 4em;
				float: right;
				border-top-right-radius: 0em;
				border-bottom-right-radius: 0em;
				border-top-left-radius: .25em;
				border-bottom-left-radius: .25em;
				background: linear-gradient(to right, white, rgb(235,235,235));

				.circle{
					grid-area: 1/2 / 2/3;
				}

				.texto{
					grid-area: 1/1 / 2/2;
				}
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.description{
		padding: 6vw;
		box-shadow: 0 0 .25em black;
		background: linear-gradient(to right, rgb(235,235,235), white);

		h1{
			margin-bottom: .25em;
			font-size: 2.5em;
			color: var.$purple;
		}
	}*/
}

#objetivos{
	align-items: flex-start;
	padding: 4vw 10%;
	margin: auto;
	background: var.$alternativeFond;

	.global-title{
		position: relative;
		width: 40%;
		padding: .5em;
		font-size: 2.25em;
		color: rgb(200,200,200);
		border-left: .1em solid transparent;
		text-shadow: 0 0 .125em black;

		&:before{
			content: '';
			position: absolute;
			top: 25%;
			bottom: 25%;
			left: 0%;
			width: .1em;
			border-radius: .1em;
			background: var.$aqua;
		}
	}

	ul{
		padding: 1em 2em;
		border-left: .1em solid transparent;

		li{
			align-items: flex-start;
			position: relative;
			margin-bottom: 1em;

			.title{
				width: 22.748331415420022;

				.count{
					font-size: .8em;
					color: var.$aqua;
					text-shadow: 0 0 .25em black;
				}

				.text{
					margin-top: .25em;
					color: white;
				}
			}

			.description{
				width: 77.25166858457997%;
				padding-left: 1em;
				color: rgb(200,200,200);
			}

			&:before{
				top: .2em;
				left: -2.2em;
				padding: .25em;
				border-radius: 50%;
				background: var.$aqua;
			}
		}

		&:before{
			top: 0%;
			bottom: 0%;
			left: 0%;
			width: .1em;
			border-radius: 1em;
			background: rgb(200,200,200);
		}

		&:last-child{
			margin-bottom: 0;
		}
	}

	ul:before, ul li:before{
		content: '';
		position: absolute;
		box-shadow: 0 0 .25em black;
	}
}

@media screen and (max-width: 1200px){
	body{
		font-size: 12pt;
	}

	#portada{
		.contenedor{
			.aditional-text{
				width: 720px;
				max-width: 100%;
			}
		}
	}

	#valores .description{
		max-width: 795.2px;
		width: 100%;
	}
}

@media screen and (max-width: 900px){
	#valores ul{
		grid-template-columns: repeat(3, 3fr);
	}
}

@media screen and (max-width: 800px){
	#mision-vision{
		display: block;

		.img-separator{
			display: none;
		}

		.valor{
			display: grid;
			grid-template-columns: 2fr 2fr;
			padding: 0%;

			.description{
				padding: 2em;
			}

			.img{
				display: block;
				transform: none;
			}
		}

		.vision{

			.img{
				//background: url('');
			}
		}
	}

	#objetivos{
		flex-wrap: wrap;

		.global-title{
			width: 100%;
			padding-bottom: .3em;
			margin-bottom: 1.5em;
			border: none;
			border-bottom: .1em solid transparent;
			text-align: center;

			&:before{
				top: auto;
				right: 35%;
				bottom: 0%;
				left: 35%;
				width: auto;
				height: .1em;
				background: var.$aqua;
			}
		}

		ul{
			width: 100%;
		}
	}
}

@media screen and (max-width: 750px){
	#portada{ 
		.contenedor{
			padding-bottom: 8.5vw;
			.aditional-text{
				justify-content: center;

				img{
					position: initial;
					width: 50%;
					transform: translateX(1em);
				}

				.texto{
					width: 50%;
					padding: 2em;
					padding-left: 3em;
					box-shadow: none;
				}
			}
		}
	}

	#valores{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;

		ul{
			grid-area: 2/1 / 3/2;
			padding: 1em 0;

			li{
				margin-bottom: 1em;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		.description{
			grid-area: 1/1 / 2/2;
		}
	}
}

@media screen and (max-width: 650px){
	#valores ul{
		grid-template-columns: 2fr 2fr;
	}
}

@media screen and (max-width: 600px){
	#portada{
		.filter-box{
			background: rgba(var.$fondo, .85);
		}

		.contenedor{ 
			padding-bottom: 0;
			z-index: 0;

			.description{
				width: 100%;
			}

			.aditional-text{
				img{
					display: none;
				}

				.texto{
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 500px){
	#mision-vision{
		.valor{
			display: flex;
			justify-content: flex-start;
			background: linear-gradient(to right, rgba(var.$aqua, .5), transparent);

			.description{
				width: 100%;
				max-width: 375px;
			}

			.img{
				display: none;
			}
		}

		.vision{
			justify-content: flex-end;
			background: linear-gradient(to right, transparent, rgba(var.$aqua, .5));
		}
	}

	#objetivos ul li{
		display: block;
		margin-bottom: 2em;

		.title{
			width: 100%;
			margin-bottom: .5em;
		}

		.description{
			width: 100%;
			padding: 0%;
		}

		&:last-child{
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 400px){
	#portada .contenedor{
		padding: 0em;

		.description{
			padding: 2em;
		}
	}

	#valores ul{
		grid-template-columns: 1fr;
	}

	/*#valores ul li{
		display: block;
		padding: 1em;

		.circle{
			display: none;
		}

		.texto{
			padding: 0;
		}
	}*/
}

@media screen and (max-width: 350px){
	#portada .contenedor .description .title{
		font-size: 2.5em;
	}
}

@media screen and (max-width: 250px){
	body{
		font-size: 6.38vw;
	}
}

