<section id="portada">
	<div class="continer relative">
		<div class="filter-box allScreen"></div>
		<div class="contenedor relative">
			<div class="description">
				<h1 class="title">
					Nosotros<br/>
					Somos
				</h1>
				<p>Una empresa de tecnología que orienta la mayor parte de sus actividades en el área de telecomunicaciones.</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
			</div>

			<div class="aditional-text relative endFlex">
				<img src="/IMG/workers.jpg" class="allScreen">

				<div class="texto">
					<b>CRECEMOS RÁPIDO</b>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="mision-vision">
	<div class="mision valor">
		<div class="description">
			<h1>MISIÓN</h1>

			<p>
				Nuestra misión se centra en crear de soluciones tecnológicas para garantizar a nuestro cliente una atención veraz y eficaz, haciendo de nuestro trabajo un servicio de calidad y confiabilidad, brindando a nuestros empleados un ambiente de trabajo, cordial, agradable, y donde puedan superarse personal y laboralmente.
			</p>
		</div>
		<div class="img"></div>
	</div>

	<div class="img-separator"></div>

	<div class="vision valor">
		<div class="img"></div>
		<div class="description">
			<h1>VISIÓN</h1>

			<p>
				Ser líderes en el Mercado constituyéndonos en nuestros aliados estratégicos, entregando servicios de calidad basados en el más alto nivel en soluciones tecnológicas requeridas por nuestros clientes; garantizando el óptimo desarrollo de cada una de nuestras actividades regidas con los estándares más altos, contando con el nivel técnico más alto en el mercado y desarrollo.
			</p>
		</div>
	</div>
</section>

<section id="valores">
	<div class="description">
		<h1>VALORES</h1>
		
		<p>
			Nuestros valores se alinean de modo consistente con la <span class="purple-hi">Visión</span> y la <span class="purple-hi">Misión</span> en la medida que son instrumentales para su logro, y reflejan de modo fundamental una actitud ética basada en principios de tolerancia, respeto y colaboración con el conjunto de grupos de interés con los que la compañía quiere desarrollar y consolidar su proyecto.
		</p>
	</div>

	<ul>
		<li>
			<p class="title">
				Compromiso
			</p>
			<p>
				Nos responsabilizamos de consolidar nuestros proyectos de forma proactiva.
			</p>
		</li>
		<li>
			<p class="title">
				Orientación al cliente
			</p>
			<p>
				Descubrimos, entendemos y consolidamos las necesidades de nuestros clientes.
			</p>
		</li>
		<li>
			<p class="title">
				Innovación
			</p>
			<p>
				Aportamos valor con espíritu creativo, profesional y crítico a nuevas ideas para ponerlas en práctica.
			</p>
		</li>
		<li>
			<p class="title">
				Flexibilidad
			</p>
			<p>
				Nos adaptamos al entorno en continua evolución.
			</p>
		</li>
		<li>
			<p class="title">
				Honestidad
			</p>
			<p>
				Demostramos integridad en nuestras actuaciones.
			</p>
		</li>
	</ul>

	<!-- <ul>
		<li>
			<div class="texto">
				<div>
					<b>Compromiso</b>
					<p>
						Nos responsabilizamos de consolidar nuestros proyectos de forma proactiva.
					</p>
				</div>
			</div>
			<div class="circle">
				<div></div>
			</div>
		</li>
		<li>
			<div class="texto">
				<div>
					<b>Orientación al cliente</b>
					<p>
						Descubrimos, entendemos y consolidamos las necesidades de nuestros clientes.
					</p>
				</div>
			</div>
			<div class="circle">
				<div></div>
			</div>
		</li>
		<li>
			<div class="texto">
				<div>
					<b>Innovación</b>
					<p>
						Aportamos valor con espíritu creativo, profesional y crítico a nuevas ideas para ponerlas en práctica.
					</p>
				</div>
			</div>
			<div class="circle">
				<div></div>
			</div>
		</li>
		<li>
			<div class="texto">
				<div>
					<b>Flexibilidad</b>
					<p>
						Nos adaptamos al entorno en continua evolución.
					</p>
				</div>
			</div>
			<div class="circle">
				<div></div>
			</div>
		</li>
		<li>
			<div class="texto">
				<div>
					<b>Honestidad</b>
					<p>
						Demostramos integridad en nuestras actuaciones.
					</p>
				</div>
			</div>
			<div class="circle">
				<div></div>
			</div>
		</li>
	</ul>

	<div class="description">
		<h1>VALORES</h1>
		
		<p>
			Nuestros valores se alinean de modo consistente con la <span class="purple-hi">Visión</span> y la <span class="purple-hi">Misión</span> en la medida que son instrumentales para su logro, y reflejan de modo fundamental una actitud ética basada en principios de tolerancia, respeto y colaboración con el conjunto de grupos de interés con los que la compañía quiere desarrollar y consolidar su proyecto.
		</p>
	</div> -->
</section>

<section id="objetivos" class="objetivos startFlex">
	<div class="global-title">
		<b>Los objetivos que queremos alcanzar</b>
	</div>

	<ul class="relative">
		<li class="bettwenFlex">
			<div class="title">
				<p class="count">Objetivo #1</p>

				<p class="text">
					Título del objetivo a perseguir.
				</p>
			</div>

			<div class="description">
				Aquí va la descripción de nuestro genialísimo objetivo, para que veas que tenemos altas expectativas.
			</div>
		</li>

		<li class="bettwenFlex">
			<div class="title">
				<p class="count">Objetivo #1</p>

				<p class="text">
					Título del objetivo a perseguir.
				</p>
			</div>

			<div class="description">
				Aquí va la descripción de nuestro genialísimo objetivo, para que veas que tenemos altas expectativas.
			</div>
		</li>

		<li class="bettwenFlex">
			<div class="title">
				<p class="count">Objetivo #1</p>

				<p class="text">
					Título del objetivo a perseguir.
				</p>
			</div>

			<div class="description">
				Aquí va la descripción de nuestro genialísimo objetivo, para que veas que tenemos altas expectativas.
			</div>
		</li>

		<li class="bettwenFlex">
			<div class="title">
				<p class="count">Objetivo #1</p>

				<p class="text">
					Título del objetivo a perseguir.
				</p>
			</div>

			<div class="description">
				Aquí va la descripción de nuestro genialísimo objetivo, para que veas que tenemos altas expectativas.
			</div>
		</li>
	</ul>
</section>