	<!-- Inclusión de la cabecera de la página ------------------------------------------------------------------------------------------------->
	<%- include("./header", {usuario, path, title_page, title_resources}) %>
	<!-- ----------------------------------------- ----------------------------------------------------------------------------------->

	<!-- Inclusión del cuerpo del documento ------------------------------------------------------------------------------------------>
	<%- include("../../content/web/"+title_resources+'', { data }) %>
	<!-- ----------------------------------------- ----------------------------------------------------------------------------------->

	<!-- Inclusión del Pie de página ------------------------------------------------------------------------------------------------->
	<%- include("./footer") %>
	<!-- ----------------------------------------- ----------------------------------------------------------------------------------->
</body>
</html>