<section id="notification-section" class="allScreen">
	<!-- <figure class="notificacion bettwenFlex success">
		<img src="/IMG/iconos/sent-mail.svg">
		<figcaption>
			<h1>
				Título
			</h1>
			<div class="text">
				<p>Felicitaciones, panita mío.</p>
				<p>Felicitaciones, panita mío.</p>
			</div>
		</figcaption>

		<button type="button" class="close" title="Cerrar">
			<i class="fa fa-times"></i>
		</button>
	</figure> -->
</section>

<footer id="footer">
	<div class="contenedor">
		<div class="container">
			<ul>
				<p>LEGAL</p>
				<li>
					<a target="_blank" class="enlace">Tencón al cliente pelotudo</a>
				</li>
				<li>
					<a target="_blank" class="enlace">Hola 2</a>
				</li>
			</ul>
			<ul>
				<p>LEGAL</p>
				<li>
					<a target="_blank" class="enlace">Tencón al cliente pelotudo</a>
				</li>
				<li>
					<a target="_blank" class="enlace">Hola 2</a>
				</li>
			</ul>
			<ul>
				<p>LEGAL</p>
				<li>
					<a target="_blank" class="enlace">Tencón al cliente pelotudo</a>
				</li>
				<li>
					<a target="_blank" class="enlace">Hola 2</a>
				</li>
			</ul>
			<ul>
				<p>LEGAL</p>
				<li>
					<a target="_blank" class="enlace">Tencón al cliente pelotudo</a>
				</li>
				<li>
					<a target="_blank" class="enlace">Hola 2</a>
				</li>
			</ul>
		</div>
		<div class="socialNetwork centerFlex">
			<a href="https://facebook.com" target="_blank" class="enlace">
				<i class="fab fa-facebook"></i>
			</a>
			<a href="https://instagram.com" target="_blank" class="enlace">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://whatsapp.com" target="_blank" class="enlace">
				<i class="fab fa-whatsapp"></i>
			</a>
		</div>
	</div>
</footer>