<!-- Inclusión de la Cabecera ---------------------------------------------------------------------------------------------------->
<%- include("./header") %>
<!-- ----------------------------------------- ----------------------------------------------------------------------------------->


	<!-- <div id="app" class="allScreen">
		<nav id="navbar">
			<div class="container bettwenFlex">
				<div class="logo centerFlex">
					<img src="/IMG/logos/logo__sombreado.png">
					<div class="centerFlex">
						<p class="title">
							Hi Connection
							<br>
							<span class="subtitle">Preguntas Frecuentes</span>
						</p>
					</div>
				</div>

				<form id="search-bar" class="centerFlex relative">
					<div class="input-with-icon">
						<input type="text" id="search" placeholder="Buscar">
						<label for="search">
							<i class="fa fa-search"></i>
						</label>
					</div>
					<button id="search-submit">
						<i class="fa fa-arrow-right"></i>
					</button>
					<button id="search-button">
						<i class="fa fa-search"></i>
					</button>
				</form>

				<button></button>
			</div>
		</nav>

		<aside id="navigator-menu">
			<ul>
				<li>
					<a href="/preguntas_frecuentes">
						Preguntas Frecuentes
					</a>
				</li>
				<li>
					<a href="/preguntas_frecuentes/">
						Preguntas Frecuentes
					</a>
				</li>
			</ul>
		</aside>


		<section id="body">
			
		</section>
	</div> -->
</body>
</html>