body {
  font-size: 1.25vw;
  background: #fafafa;
}

#portada {
  background-color: #131313;
}
#portada .container {
  align-items: flex-start;
  padding: 3em 2.75em;
  padding-top: 1em;
  color: #c8c8c8;
  background-image: linear-gradient(to right, rgba(0, 239, 224, 0.1) 20%, transparent);
}
#portada .description {
  width: 50%;
  padding: 1em;
}
#portada .description h1 {
  margin-bottom: 0.25em;
  font-size: 3em;
  color: white;
  text-shadow: 0 0 0.1em black;
}
#portada .description p {
  margin-bottom: 0.25em;
}
#portada .description p:last-child {
  margin-bottom: 0;
}
#portada .description a {
  color: #c8c8c8;
}
#portada .description a:hover {
  color: white;
}
#portada #search-form {
  width: 40%;
  padding: 1em;
  color: white;
}
#portada #search-form button[type=submit], #portada #search-form #search {
  padding: 0.25em;
  font-size: 1.25vw;
  border-radius: 0.15em;
  box-shadow: 0 0 0.1em black;
  transition: 250ms;
}
#portada #search-form #search {
  width: 70%;
  padding: 0.25em 0.5em;
  color: #5a5a5a;
  border: 0.1em solid transparent;
  outline: none;
}
#portada #search-form #search:focus {
  border-color: #790c86;
}
#portada #search-form button[type=submit] {
  margin-left: 0.5em;
  color: white;
  border: 0.1em solid white;
  background: none;
}
#portada #search-form button[type=submit]:focus, #portada #search-form button[type=submit]:hover {
  background: #790c86;
  border-color: transparent;
}
#portada #search-form p {
  margin-top: 1em;
  text-align: center;
}

#preguntas-section {
  padding: 3em;
}
#preguntas-section .title {
  margin-bottom: 2em;
  font-size: 1.5em;
  text-align: center;
  color: #790c86;
}
#preguntas-section .title b {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25em;
}
#preguntas-section .title b span {
  color: black;
  text-shadow: none;
}
#preguntas-section .title b:before {
  content: "";
  position: absolute;
  right: 30%;
  bottom: 0%;
  left: 30%;
  height: 0.1em;
  background: #790c86;
}
#preguntas-section .preguntas {
  width: 90%;
  margin: auto;
}
#preguntas-section .preguntas .pregunta {
  position: relative;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  border: 0.1em solid #790c86;
  border-radius: 0.15em;
  box-shadow: 0 0.5em 0.5em gainsboro;
  background: white;
  transition: 1s;
}
#preguntas-section .preguntas .pregunta .controll {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: auto;
  left: auto;
  padding: 0.35em 0.25em;
  color: #790c86;
  border-radius: 50%;
  border: 0.15em solid #790c86;
  background: #fafafa;
  transition: 250ms;
}
#preguntas-section .preguntas .pregunta .controll:hover {
  color: #fafafa;
  text-shadow: 0 0 0.25em black;
  border-color: #fafafa;
  box-shadow: 0 0 0.1em black;
  background: #790c86;
}
#preguntas-section .preguntas .pregunta .close {
  display: none;
  padding: 0.25em 0.5em;
}
#preguntas-section .preguntas .pregunta .question {
  display: inline-block;
  max-width: 100%;
  padding: 0 3em;
  margin-bottom: 0.5em;
  font-size: 1.125em;
  color: #790c86;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#preguntas-section .preguntas .pregunta .question .resalted {
  margin-right: 0.075em;
  font-style: italic;
  text-decoration: underline;
}
#preguntas-section .preguntas .pregunta .description {
  display: -webkit-box;
  width: 85%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#preguntas-section .preguntas .pregunta .info {
  align-self: flex-end;
  width: 15%;
  font-size: 0.75em;
  text-align: center;
}
#preguntas-section .preguntas .pregunta .info .publicador {
  display: none;
}
#preguntas-section .preguntas .pregunta .info .date b {
  display: block;
}
#preguntas-section .preguntas .pregunta:last-child {
  margin: 0;
}
#preguntas-section .preguntas .opened {
  color: #e6e6e6;
  border-color: #fafafa;
  box-shadow: 0 0.5em 0.5em #c8c8c8, inset 0 0 1em #460a42;
  background: #790c86;
}
#preguntas-section .preguntas .opened * {
  transition: 1s;
}
#preguntas-section .preguntas .opened .open {
  display: none;
}
#preguntas-section .preguntas .opened .close {
  display: block;
  color: #fafafa;
  text-shadow: 0 0 0.25em black;
  border-color: #fafafa;
  box-shadow: 0 0 0.1em black;
  background: #790c86;
}
#preguntas-section .preguntas .opened .close:hover {
  color: #790c86;
  text-shadow: none;
  background: #fafafa;
}
#preguntas-section .preguntas .opened .question {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
  text-align: center;
  color: #fafafa;
  text-shadow: 0 0 0.125em black;
  overflow: auto;
  white-space: initial;
}
#preguntas-section .preguntas .opened .container {
  display: block;
}
#preguntas-section .preguntas .opened .description {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  -webkit-line-clamp: initial;
  -webkit-box-orient: initial;
  overflow: auto;
}
#preguntas-section .preguntas .opened .info {
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
#preguntas-section .preguntas .opened .info .publicador {
  display: block;
}
#preguntas-section .preguntas .opened .info .date b {
  display: none;
}
#preguntas-section .preguntas .not-data, #preguntas-section .preguntas .not-found {
  text-align: center;
  font-size: 1.5vw;
}
#preguntas-section .preguntas .not-found {
  color: #960000;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 12pt;
  }

  #portada .container #search-form button[type=submit], #portada .container #search-form #search {
    font-size: 12pt;
  }

  #preguntas-section .preguntas .pregunta .centerFlex .description {
    width: 100%;
  }
  #preguntas-section .preguntas .pregunta .centerFlex .info {
    width: 140px;
  }
  #preguntas-section .preguntas .opened .container .info {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  #portada .container {
    display: block;
  }
  #portada .container .description {
    width: 100%;
    padding-bottom: 0%;
    text-align: center;
  }
  #portada .container .description p {
    display: none;
  }
  #portada .container #search-form {
    width: 100%;
  }

  #preguntas-section .preguntas .opened .question {
    width: 500px;
    padding: 0%;
  }
}
@media screen and (max-width: 760px) {
  #portada .container {
    padding: 3em 2.75em;
  }
}
@media screen and (max-width: 500px) {
  #preguntas-section .preguntas .pregunta .controll {
    opacity: 0;
  }
  #preguntas-section .preguntas .pregunta:hover .controll {
    opacity: 1;
  }
  #preguntas-section .preguntas .pregunta .question {
    width: 100%;
    padding: 0%;
    text-align: center;
  }
  #preguntas-section .preguntas .pregunta .container .info {
    display: none;
  }
  #preguntas-section .preguntas .opened .container .info {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  #preguntas-section {
    padding: 3em 1.5em;
  }
  #preguntas-section .preguntas {
    width: 100%;
  }
  #preguntas-section .preguntas .pregunta .question {
    margin-bottom: 0;
    overflow: auto;
    white-space: initial;
    text-overflow: initial;
  }
  #preguntas-section .preguntas .pregunta .container .description {
    display: none;
  }
  #preguntas-section .preguntas .opened .question {
    margin-bottom: 0.5em;
  }
  #preguntas-section .preguntas .opened .container .description {
    display: block;
  }
}
@media screen and (max-width: 360px) {
  #portada .container {
    padding: 3em 1.5em;
  }
  #portada .container .description h1 {
    font-size: 2em;
  }
  #portada .container #search-form .centerFlex #search {
    width: 100%;
  }
}
@media screen and (max-width: 250px) {
  * {
    font-size: 6.38vw;
  }

  #portada .container #search-form .centerFlex #search {
    font-size: 6.38vw;
  }
}

/*# sourceMappingURL=frequent_questions.css.map */
